<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.richard.vybe">

    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.spotify.music" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_vybe"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_vybe"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.richard.vybe.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.richard.vybe.Swipe.MainActivity" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>